@model List<URLShortener.Models.URL>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
        @Html.TextBox("Address", null, new { placeholder = "Address" })
        <button type="submit">Add</button>
        <br />
        @Html.ValidationMessage("Address", null, new{@class= "text-danger"});
    }
</div>
<div>
    <table>
        @foreach (var item in Model)
    {
        <tr>
            <td><strong>@Html.DisplayNameFor(model => item.Address):</strong></td>
            <td>@Html.DisplayFor(model => item.Address),</td>
            <td><strong>@Html.DisplayNameFor(model => item.ShortAdress):</strong></td>
            @*<td>@Html.DisplayFor(model => item.ShortAdress)</td>*@
            <td>@Html.ActionLink(item.ShortAdress, "Index", "Redirection", new { shortAddress = item.ShortAdress }, new { target = "_blank" })</td>
            <td>@Html.ActionLink("Edit", "Edit", "Home", item)</td>
            <td>@Html.ActionLink("Delete", "Delete", "Home", item)</td>
        </tr>



}
    </table>

</div>
